<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .divLeft {
        position: fixed;
        width: 30%;
        left: 0;
        height: 100%;
        background-color: #008080;
        z-index: 1010101010
    }

    .divRight {
        position: fixed;
        width: 70%;
        left: 30%;
        height: 100%;
        background-color: #F5F5F5;
        z-index: 1010101010
    }
  </style>
</head>
<body>
  <!--
  <div id="left" class="divLeft">
    <div id="nomeTorneo"> 
      <img src=""> </img>
      <input type="text" id="toDo MettereNome" name=""> 
    </div>
    <div id="torneoPrivato"> 
      <input type="checkbox" id="isTorneoPrivato" name="isTorneoPrivato" value="true">
      <label for="isTorneoPrivato">Torneo privato</label><br> 
      
      <input type="text" id="Password" name="Password" placeholder="password"> 
      
    </div>
    <div id="cercaGiocatore"> 
      <div>Aggiungi giocatori</div>
      <div style="background-color: white;">
        <input type="text" id="inputRicercaGiocatore">
        <hr>
        <div id="listaRisultatiGiocatori"> 
          <div>mario rossi</div> 
        </div>
      </div>
    </div>
    <br>
    <div id="listaSelezionati">
      <div>Squadra</div>
      <div style="background-color: white;">
        <div>mario rossi selezionato</div>
      </div>
    </div>
  </div>
  <div id="right" class="divRight">
    <h1>This is another half of a page</h1>
  </div>
-->
  
  <form action="/creazioneTorneo" method="POST">
    <label for="nameTourney">Nome Torneo</label>
    <input type="text" name="nameTourney">
    <input type="submit" value="submit">
  </form>

</body>
</html> 