<!DOCTYPE html>
<html>
<body>

<h1>HOME</h1>

<button type="button" onclick="login()">Login</button>
<button type="button" onclick="signup()">Signup</button>
<button type="button" onclick="crea()">Creazione Torneo</button>

<script>
    function login(){
        window.location.assign("/login") //non so se assign è giusto
    }

    function signup(){
        window.location.assign("/signup") //non so se assign è giusto
    }

    function crea(){
        window.location.assign("/creazioneTorneo") //non so se assign è giusto
    }
</script>

</body>
</html>

