<!DOCTYPE html>
<html>
<body>

<h1>SIGNUP</h1>

<p>Ciao <%= username %></p>

<button type="button" onclick="home()">Torna alla Home</button>

<script>
    function home(){
        window.location.assign("/")
    }
</script>

</body>
</html>

