<!DOCTYPE html>
<html>
<body>

<h1>SIGNUP</h1>

<label for="username">username</label>
<input type="text" id="username" name="usernmae">
<label for="password">password</label>
<input type="password" id="password" name="password">
<input type="submit" value="submit" onclick="signup()">

<br>
<button type="button" onclick="login()">Login</button>

<p id="error"></p>

<script>
    function signup(){
        fetch('/api/v2/users', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json'},
            body: JSON.stringify({
                username: document.getElementById("username").value,
                password: document.getElementById("password").value
            })
        })
        .then(async resp => {
            try {
                json = await resp.json()
            } catch (error){
                console.log(error)
            }
            if(resp.status == 201){
                window.location.href = "/login"
            } else {
                document.getElementById("error").innerText = json.error
            }
        })
        .catch( error => console.log(error))
    }

    function login(){
        window.location.href = "/login"
    }
</script>

</body>
</html>

