<!DOCTYPE html>
<html>
<body>

<h1>Tourneys</h1>

<p id="message"></p>

<button type="button" onclick="home()">Home</button>

<script>
    const token = "<%= req.session.token %>"
    const name = "<%= name %>"
    if(token == ''){
        window.location.href = '../'
    }

    fetch('/api/v2/tourneys/' + name, {
        method: 'GET',
        headers: { 'Content-Type': 'application/json', 'x-access-token': token}
    })
    .then(async (resp) => {
        try{
            json = await resp.json()
        } catch (error){
            console.log(error)
        }
        if(resp.status == 200){
            document.getElementById("message").innerText = JSON.stringify(json)
        } else {
            document.getElementById("message").innerText = json.error
        }
    })
    .catch( error => console.error(error) )

    function home(){
        window.location.href = "../"
    }
</script>

</body>
</html>